.summary {
  display: grid;
  gap: 14px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: -.32px;
  align-items: start;

  > img {
    object-fit: cover;
    justify-self: center;
    width: 100%;
    max-width: 360px;
  }

  > :is(address, div) > :is(h3, p) {
    font-size: 20px;
  }

  .price {
    font-size: 20px;
  }

  > :is(p, h3), 
  > :is(address, div) > :is(h3, p) {
    padding-inline-start: 18px;
    width: fit-content;
  }
}