.summary {
  display: grid;
  gap: 14px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: -.32px;
  align-items: start;

  > img {
    object-fit: cover;
    justify-self: center;
  }

  h3 {
    font-size: 20px;
  }

  > .box {
    background: var(--light-lilac);
    border-radius: 12px;
    width: 238px;
    font-size: 20px;
    justify-self: center;
    line-height: 21px;
    padding: 37px 11px;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }

  .price {
    font-size: 20px;
  }

  p:not(.box), h3 {
    padding-inline-start: 18px;
    width: fit-content;
  }
}