li {
  > label {
    display: grid;
    padding: 5px;
    width: 100%;
    grid-template-columns: 1fr auto;

    > .checkbox-icon {
      transition: opacity 0.2s ease-in;
      color: rgb(116, 115, 115);
      width: 1.5em;
      height: 1.5em;
      opacity: 0.5;
    }

    > .checkbox-icon--active {
      transition: opacity 0.2s ease-in;
      color: rgb(66, 66, 66);
      width: 1.5em;
      height: 1.5em;
      opacity: 1;
    }
  }
}
