.ConfirmContent {
    width: 100%;
    min-height: 100dvh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 15px; */
    color: var(--dark-gray);
    row-gap: 20px;
}

.infoStoreContent {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.iconContent {
    width: 7.5%;
    height: 100%;
    padding-right: 2px;
}

.storeInfo {
    width: 92.5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.storeLogoConfirmar {
    width: 8%;
    height: 100%;
}

.storeLogoConfirmar>img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
    margin: 0;
}

.storeDataConfirmar {
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 5px;
}

.orderContent {
    margin-top: 15px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px 5px 5px 5px;

}

.ListTitle {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-gray);
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px 5px 0px 0px;
}

.articlesContent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 0.5px solid #D9D9D9;
    row-gap: 5px;
}

.itemContent {
    margin-top: 3%;
    width: 95%;
    height: 73px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.mealData {
    width: 100%;
    height: 67%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.mealDataImage {
    width: 15%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.mealDataImage>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin: 0;

}

.mealDataFood {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mealDataFoodStore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding-left: 5px;

}

.count {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 2%;

}

.btn-confirmar {
    width: 98%;
    height: 100%;
    border: 0.5px solid #D9D9D9;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.totalCount {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
}

.totalItem {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #D9D9D9;
    font-size: 20px;
    font-weight: 500;
}

.itemIcon {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2px;
}

.btn-pagar {
    width: 328px;
    height: 48px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 500;
    line-height: 16px;
    background-color: var(--blue);
    color: white;
    position: fixed;
    bottom: 20px;

}