.toggle-container {
  display: grid;
  grid-auto-flow: column;
  height: 2.5dvh;
  margin: 1dvh 0;
  width: 100%;
  column-gap: 1dvh;
  grid-template-columns: repeat(3, 1fr);

  > span {
    background-color: rgba(151, 151, 151, 1);
    color: white;
    padding: 1dvh 0.5dvh;
    border-radius: 5px;
    font-weight: 100;
    font-size: small;
  }

  input[type="checkbox"] {
    display: none;
  }

  .bg-active-blue {
    transition: all .5s ease-in-out;
    background-color: rgba(63, 155, 255, 1);
  }

  > .switch {
    background-color: rgba(63, 155, 255, 1);
    width: 100%;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: all 1s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      margin: 3px;
      left: 0;
      background-color: white;
      width: 25%;
      height: 80%;
      border-radius: 50%;
      transition: all 1s ease-in-out;
    }
  }

  > input[type='checkbox']:checked + label::before {
    right: 0;
    left: auto;
    transition: all 1s ease-in-out;
  }
}
