.payment-method {
  display: grid;
  row-gap: 10px;
  grid-template-columns: 25px 1fr 25px;
  grid-auto-rows: max-content;
  font-weight: 400;
  color: rgb(80, 80, 80);
  background-color: white;

  > .total-bar {
    display: flex;
    min-width: max-content;
    margin-top: 1dvh;
    justify-content: space-between;
    font-weight: 500;

    > h4 {
      padding: 0;
    }

    > h4 > span {
      color: rgb(60, 156, 252);
    }
  }

  > h5 {
    width: 100%;
    margin-top: 0;
    font-weight: 700;
    text-align: center;
    font-size: calc(.9em)
  }

  > a {
    justify-self: start;
    position: relative;
    top: 25px;

    path {
      fill: black;
    }
  }

  /* remove default arrows */
  > input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  > .input-cash {
    border-radius: 5px;
    border: 1px solid rgb(142, 142, 142);
    text-align: center;
    font-size: large;
    padding: 0.8dvh 0;
    transition: all 0.5s;
  }

  > label {
    font-size: small;
    color: red;
    margin-top: 0;
  }

  > .input-wrong {
    border: 1px solid red;
  }

  > * {
    grid-column: 2;
  }

  > ul {
    margin-top: 20px;
  }

  > button {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    color: white;
    box-shadow: none;
    border-radius: 5px;
    margin: 0 25px 0 25px;
    font-size: 18px;
    padding: 15px 0 15px 0;
    font-weight: 500;
    background-color: rgb(129, 129, 129);
    transition: all 0.5s;
  }

  > button:active {
    scale: 0.8;
  }

  > .button-enabled {
    background-color: rgb(60, 156, 252);
  }
}
