.building {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    var(--blue),
    white 30% 70%,
    var(--lilac)
  );

  svg {
    width: 30px;
    aspect-ratio: 1;
  }
}