.mainWrapper {
  background-color: white;
  color: #242424;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
}
.backward {
  text-align: left;
  display: inline-flex;
}

.pointer {
  cursor: pointer;
}
.sizeUp {
  font-size: 15px;
  padding-left: 10px;
  color: black;
}

.infoRestaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.imageRestaurant {
  width: 100%;
  height: 150px;
  object-fit: cover; /* o "contain" o cualquier otro valor deseado */
  object-position: center; /* o cualquier otra posición deseada */
}

.infoRestaurant p {
  margin-top: 7px;
  font-size: 12px;
  padding-right: 2rem;
}
.infoFood {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.imageFood > img {
  width: 100px;
  height: 90px;
}

.nameFood h2 {
  font-weight: 600;
  font-size: 1.4rem;
}
.ingredients {
  text-align: left;
  padding-left: 3rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row p {
  font-size: 14px;
}

.inputText {
  border-radius: 10px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  width: 100%;
}

.rowBtns {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.MyButton {
  margin-top: 1rem;
  padding: 3px 25px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  box-shadow: 2px 5px 5px grey;
  outline: 2px solid black;
  letter-spacing: 4px;
}

.columnBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h4 {
  text-align: left;
  padding-left: 2rem;
}

.columnBtns > h2 {
  font-weight: 500;
  font-size: 18px;
  margin-top: 1rem;
}

.btnAdd {
  margin-top: 1rem;
  padding: 8px 30px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  box-shadow: 2px 5px 5px grey;
}

.btnMenu {
  margin-top: 1rem;
  padding: 8px 30px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  box-shadow: 2px 5px 5px grey;
}
.btnConfirm {
  margin-top: 2rem;
  padding: 8px 100px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  box-shadow: 2px 5px 5px grey;
}
