.main-btn {
  padding: 14px 0px;
  border-radius: 5px;
  background-color: var(--blue);
  color: white;
  font-size: 24px;
  height: max-content;

  &:disabled {
    background-color: var(--gray);
  }
}