@import url(./App.css);

:root {
  --blue: #3f9bff;
  --lilac: #d57fff;
  --light-lilac: #E2A8FF;
  --red: #ff2A54;
  --bg-color: #f5f5f5;
  --light-gray: #D9D9D9;
  --gray: #979797;
  --dark-gray: #322F37;
  --half-gradient: linear-gradient(var(--blue) 50%, var(--lilac) 0%)
}
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
