.compensation {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  min-height: 100dvh;
  color: black;
  background: url(../../assets/background-compensation.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-color: rgb(60, 140, 256);
  align-items: center;

  > * {
    grid-column: 2;
  }

  > div > section {
    border-radius: 28px;
    margin: 2dvh;
    padding: 3dvh;
    background-color: white;
    font-size: medium;
    text-align: start;
    font-weight: 100;

    > h4 {
      font-weight: 500;
      padding: 0;
      text-align: center;
      font-size: medium;
      margin: 2dvh;
    }
  }

  > button {
    width: 100%;
    color: white;
    box-shadow: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px 0 15px 0;
    font-weight: 500;
    background-color: rgb(60,156,252);
    transition: all 0.5s;
  }

  > button:active {
    scale: 0.8;
  }
}
