.payout {
  display: grid;
  grid-template-rows: repeat(5, max-content) 1fr max-content;
  row-gap: 8px;
  align-content: stretch;

  main:has(&) {
    flex-grow: 1;
    display: flex;
    padding: 8px 16px 18px;
    justify-content: center;

    header:has(+ &) {
      background-color: white;
    }
  }

  .payment {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 500;

    svg > * {
      fill: var(--blue);
    }
  }

  h3, > p {
    font-size: 16px;
    font-weight: 500;
  }

  label:has([type='text']) {
    display: flex;
    justify-content: center;
    border: 1px solid var(--light-gray);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    font-size: 20px;

    p {
      color: var(--blue);
    }

    span {
      color:rgba(0, 0, 0, .7);
      position: absolute;
      inset: 0;
      background-color: white;
      opacity: 1;
      transition: 
        opacity 100ms linear,
        background-color 100ms linear;
    }

    .transparent {
      opacity: 0;
      background-color: transparent;
    }
  }

  [type='text'] {
    border: 0;
    text-align: start;
    line-height: 1.5;

    &:focus {
      outline: none;
    }
  }

  button {
    font-size: 21px;
    font-weight: 400;
    width: 95%;
    justify-self: center;
    max-width: 450px;
    grid-row: -2;
  }
}