.final-success {
  display: flex;
  flex-direction: column;
  padding: 0 25px 0 25px;
  position: absolute;
  min-height: 100vh;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  color: black;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(60, 140, 256);
}

.content {
  position: absolute;
  animation: movefront 3s linear forwards;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes movefront {
  0% {
    z-index: 0;
    opacity: 0;
  }
  50% {
    z-index: 9;
    opacity: 0.9;
  }
  100% {
    z-index: 10;
    opacity: 1;
  }
}

.circle-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(60, 140, 256);
  animation: reveal 1s linear forwards;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.circle {
  width: 4dvh;
  height: 4dvh;
  position: absolute;
  border-radius: 100%;
  overflow: hidden;
  animation: expand 1s linear forwards;
  animation-delay: 1s;
  background-color: white;
}

@keyframes expand {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50%{
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: scale(100);
  }
}

h5 {
  margin-top: 2dvh;
  font-size: x-large;
  font-weight: 400;
}

img {
  width: 20em;
  margin-top: 3dvh;
}
